body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.201);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#weather{
    margin-top: 50px;
}
#text{
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 300px;
}
#enter{
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    padding: 15px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    background-color: rgba(63, 221, 76, 0.914);
    cursor: pointer;
}
#enter:hover
{
    background-color: rgba(0, 0, 0, 0.759);
}
#display{
    margin-top: 50px;
    background: rgb(60,160,185);
background: linear-gradient(0deg, rgba(60,160,185,1) 0%, rgba(255,217,135,1) 100%);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
}
p{
    font-size: 1.5rem;
    margin: 0;
}
.emoji{
    font-size: 7.5rem;
    margin-bottom: 15px;

}
.temperature,.humidity{
    font-size: 2rem;
    font-weight:lighter;
    margin-bottom: 15px;
}
.description{
    font-size: 1.8rem;
    font-weight:lighter;
    margin-bottom: 15px;
}
.error{
    font-size: 1.8rem;
    font-weight:lighter;
    margin-bottom: 20px;
}

